body {
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 120px;
  }
}

.nav-header {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #428bca;
  border: 1px solid #dddddd;
  color: white;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabular-button {
  margin-right: 1em;
}

.profile-icon {
  font-size: 9em;
}
